{%extends "eventmanagement/layout.html"%}
{%block body%}
<head>
    <title>Book Event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <h1>
        Successfully Booked {{event.name}} <br><br>
    </h1>
    Total Cost= {{total_cost}}<br>
    <a href="{%url 'userindex'%}">Back to Homepage</a><br>
    <a href="{%url 'userlogout'%}">Logout</a>
</body>
{%endblock%}