{%extends "eventmanagement/layout.html"%}
{%block body%}
<head>
    <title>Event Manager Login</title>
</head>
<body>
    {%if message%}
        <div>{{message}}</div>
    {%endif%}
    <form action="{%url 'userlogin'%}" method="POST">
        {%csrf_token%}
        <h1>Welcome to La fête</h1></b><br>
        <h2>Business Login</h2>
        <input type="Email" placeholder="Username or Email" name="username"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="submit" value="Sign in"><br>
        Don't have an account?
        <a href="{%url 'eventmanagerregister'%}">Create account</a><br>
        <a href="{%url 'userlogin'%}">Click here if Customer</a>
    </form>
</body>
{%endblock%}