{%extends "eventmanagement/layout.html"%}
{%block body%}
<body>
    <h1>Host an Event</h1>
    <div class="mb-3">
        <div class="container">
            <div class="mb-3">
                <form role="form" action="{%url 'hostevent'%}" method="POST">
                {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-primary" value="Submit"><br>
                </form>
                {{form.errors}}
            </div>
        </div>
    </div>  
    <a href="{%url 'eventmanagerlogout'%}">Logout</a>
</body>
{%endblock%}