{%extends "eventmanagement/layout.html"%}
{%block body%}
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Sign up</h1><br>
    Create an account<br>
    <form action="{%url 'userregister'%}" method="POST">
        {%csrf_token%}
        <input type="text" name="First_name" placeholder="First Name"><br>
        <input type="text" name="Last_name" placeholder="Last Name"><br>
        <input type="tel" id="phone" name="phone" placeholder="Mobile Number"><br>
        <input type="Email" name="username" placeholder="Email Address"><br>
        <input type="Email" placeholder="Confirm Email Address"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confirm Password"><br>
   
        <input type="submit" value="Submit"><br>
        Already have an account? <a href="{%url 'userlogin'%}">Sign in here</a>
    </form>
    {%if message%}
        <div>{{message}}</div>
    {%endif%}
</body>
{%endblock%}