{%extends "eventmanagement/layout.html"%}
{%block body%}
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Sign up</h1><br>
    Create an account<br>
    <form action="" method="POST">
        {%csrf_token%}
        {{form.username.labe}}
        {{form.username}}<br>
        {{form.email.labe}}
        {{form.email}}<br>
        {{form.password1.labe}}
        {{form.password1}}<br>
        {{form.password2.labe}}
        {{form.password2}}<br>
        <input type="submit" value="Submit"><br>
        Already have an account? <a href="{%url 'userlogin'%}">Sign in here</a>
    </form>
    {{form.errors}}
</body>
{%endblock%}